* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 30px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 90vh;
  background-image: linear-gradient(
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  /* clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 100%); */
  animation: Rainbow 4s infinite;
  border-radius: 50px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.4);
}
.container:active {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
}

.box {
  height: 200px;
  width: 200px;
  background-color: blue;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box1 {
  background-color: pink;
  animation: Anim1 4s 1s infinite backwards;
}

.box2 {
  background-color: magenta;
  animation: Anim1 4s 1s infinite backwards;
}

.box3 {
  background-color: crimson;
  animation: Anim1 4s 1s infinite backwards;
}

@keyframes Anim1 {
  from {
    background-color: rgb(86, 39, 205);
    transform: translate(-150px);
    opacity: 0;
  }
  to {
    background-color: red;
    opacity: 1;
  }
}

@keyframes Rainbow {
  0% {
    background-color: violet;
  }
  20% {
    background-color: indigo;
  }
  40% {
    background-color: blue;
  }
  60% {
    background-color: green;
  }
  80% {
    background-color: yellow;
  }
  90% {
    background-color: orange;
  }
  100% {
    background-color: red;
  }
}
