* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header__navigation {

    display: flex;
    max-height: 100px;
    height: 100px;
    background: linear-gradient(to right, #506550, #6a7e6a, #2d382d);
    align-items: center;
    justify-content: space-between;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); */
    position: sticky;
    top:0;
    /* position: fixed; */

}

.header__navigation h1 {
    color: #cdd4cd;
    margin-left: 13px;
    font-family:sans-serif;
    text-shadow: 2px 2px rgba(0,0,0,0.4);
    font-style: italic;
    font-weight: 700;
    /* text-transform: uppercase; */

}

.header__section {
    font-family:  "Rubik Scribble", system-ui;
    font-weight: 700;
    /* text-align: center; */
    padding: 30px;
    font-size: 44px;
    font-style: italic;
    height: 86.3vh;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(image.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header__section p {
    color: white;
    text-align: center;
}

.name {
    text-transform: capitalize;
    text-shadow: 2px 2px rgb(4, 250, 4);
    font-style: italic;
}
.name span{
    margin-right:18px;
}

.header__navigation--links {
    margin-left:50px;
    display: flex;
    gap: 40px;
    height: 25px;
}

.nav-btn:link,
.nav-btn:visited {
    margin-right: 22px;
    text-decoration: none;
    color: white;
    background-color: #354335;
    padding: 10px 25px;
    border-radius: 24px;
    transition: 0.5s all;
}

.nav-btn:hover,
.nav-btn:active {
    box-shadow: 3px 2px 8px #4be94b;
    
}
a{
    transition: all 1s;
}
.header__navigation--links a:link,
.header__navigation--links a:visited {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    /* color: rgba(0,0,0,1); */
    color: white;
    text-transform: uppercase;
    font-style: italic;
    font-size: 15px;
    opacity: 0.5;
    padding:5px;
    transition: all 6s;
}
.header__navigation--links a:hover,
.header__navigation--links a:active{
    border-bottom: 2px solid white;
}

#para-content {
    font-size: 18px;
    font-family: 'Lato';
    width: 400px;
    line-height: 1.5;
    align-content: center;
    margin-top: 15px;
    opacity: 0.5;
}

.wrapper {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.empty {
    visibility: hidden;
    width: 400px;
}

.header__section--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__section--container h4 {
    color: #121612;
    font-weight: 600;
    font-family: 'Times New Roman';


}

.header__section--container a:link,
.header__section--container a:visited {
    font-family: calibri !important;
    font-style: normal;
    font-weight: 100;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 14px;
    background-color: #242d24;
    padding: 12px;
    border-radius: 18px;
    opacity: 0.5;
    transition: all 0.4s;
    border-radius: 0px 10px 4px grey;

}

.header__section--container a:hover,
.header__section--container a:active {
    background-color: #536953;
    box-shadow: 2px 2px 10px #4be94b;
    opacity: 1;
}

.footer__content {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.footer__content p{
    font-size:22px;
}

.heading--dark {
    font-weight: bolder;
    opacity: 1;
    color: black;
    text-shadow: 2px 1px red;
}

