*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:  Calibri;
    /* background-color: grey; */
}
body{
    background-color: grey;
}

nav{
    /* display: inline; */
    /* background-color: grey; */
    height: 100px;

    background-color: white;    
}

.navLink{
    color: black;
    margin-right: 200px;

    text-decoration: none;
    font-size : 33px;
    font-weight: bolder;
    margin-left: 19px; 
}
ul{
    /* background-color: green; */
    display: inline;
    list-style: none;
}
ul li{
    /* background-color : yellow; */
    display: inline;
}

ul li a {
    margin-right: 15vh;

    text-decoration: none;
    color : black;
    font-size: 28px;
    font-weight: bold;
    
}

.navLink,
ul li a {

    padding-top: 42px;
}