* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.box {
  margin: 40px auto;

  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  box-shadow: 0px 4px 10px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  padding-left: 40px;
  border-radius: 12px;
  width: 400px;
  height: 350px;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-color: #66ff66;
}

input {
  width: 20vw;
  border-radius: 14px;
  padding-left: 20px;
  font-size: 18px;
  height: 40px;
  border: none;
}

button {
  color: white;
  background-color: darkgreen;
  height: 40px;
  width: 100px;
  border-radius: 12px;
  font-size: 18px;
  border: none;
}
input:focus {
  outline: none;
}

p span {
  font-weight: bolder;
  padding-right: 5px;
}

.hidden {
  display: none;
}

.error {
  color: red;
  font-size: 18px;
  background-color: white;
  position: absolute;
  top: 0px;
}
