*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh ; 
    gap:20px;
    /* flex-direction: column; */
    background-color: dodgerblue;
}
.box1
{
    display: flex;
    background-color: white;
    border-radius:22px;  
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 4px 10px 10px rgba(0,0,0,0.1);
    width:35vw;
    height:50vh;
    gap:20px;
}
#search_bar{
    height:40px; 
    width:300px;
    display: block;
    border:none;
    outline: none;
    padding:10px;
    font-size:17px; 
    border-radius:10px; 
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.1);
}

#search_bar:focus{
    box-shadow: 0px 1px 10px 10px lightblue;
    outline:none;

}
.search{
    display: flex;
    position:relative;
}
#btn{
    border:none; 
    background-color: navy;
    color: white;
    border-radius: 14px;  
    padding:10px;  
    position: absolute;
    right:0px;
    height:40px;
}

#city{
    font-weight:300;
}
.box2.active{
    background-color: blue; 
}
.box2{
    /* display: none;  */
}